.tasks-page-container {
    display: flex;                  
    min-height: 100vh;               
    margin: 0;                       
}

/*--------------------------------- CSS FOR SIDEBAR ---------------------------------- */
.tasks-sidebar-container {
    width: 280px;
    background-color: #f8f9fa;
    padding: 24px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

/*--------------------------------- CSS FOR MAIN TASK AREA ---------------------------------- */
.tasks-area-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
    padding: 20px;                /* Add padding for better spacing */
}

.quote-area-container {
    display: flex;
    justify-content: center; /* Space between quote and icon */
    align-items: center;
    margin-bottom: 20px;          /* Space below the quote area */
}

.refresh-icon {
    cursor: pointer;               /* Indicate clickable */
    transition: transform 0.3s;    /* Smooth rotation */
    margin-left: 20px;
}

.refresh-icon:hover {
    transform: rotate(360deg);     /* Rotate icon on hover */
}

/*-------------------- CSS TASK BUTTONS CONTAINER --------------  */

.tasks-area-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-color: rgb(74, 144, 226); /* Background color */
    border-radius: 10px 10px 0 0; /* Rounded top corners only */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Shadow for depth */
    margin-top: 10px;
}

.add-task-button, .sort-tasks-button {
    padding: 10px 15px;
    background-color: #556B2F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;            /* Align icon and text */
    gap: 5px;                      /* Space between icon and text */
    transition: background-color 0.3s ease;
}

.add-task-button:hover, .sort-tasks-button:hover {
    background-color: #4E542E;     /* Darker blue on hover */
}





/*-------------------------- ADD TASK POP-UP MODAL CSS -------------------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other content */
}

.close-modal-button {
    margin-top: 20px; /* Spacing from the modal */
    padding: 10px 20px;
    background-color: #f44336; /* Red color for close button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}